:root {
  --primary-color: #03a9f3;
  --primary-color-light: #01aff1;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.login-bg {
  background-color: #fef4ea;
}
.logo-ig img {
	width: 170px;
	padding-left: 10px;
}
.btn-login {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 500;
}
.btn-login:hover {
  background-color: var(--primary-color-light);
  color: #fff;
}

@media (min-width: 767px) {
  .login-box {
    width: 25%;
  }
}
